<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TA Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container mt-4">
        <div class="card shadow-sm border-info">
            <div class="card-header bg-info">
                <h4 class="mb-0">👨‍🏫 TA Dashboard</h4>
                <div class="table-responsive">
                    <table class="table table-hover align-middle mt-3">
                        <thead class="table-light">
                            {% if course %}
                            <tr>
                                <td><strong>{{ course.code }}</strong></td>
                                <td>{{ course.name }}</td>
                            </tr>
                            <div class="row mb-4">
                            <div class="col-md-6 mb-2">
                                <a href="/ta/student_list" class="btn btn-outline-primary w-100 p-4 shadow-sm">
                                    <div style="font-size: 2em; margin-bottom: 10px;">🔍</div>
                                    <strong class="fs-5">View Studtent List</strong>
                                </a>
                            </div>
                            <div class="col-md-6 mb-2">
                                <a href="/ta/post_assignment" class="btn btn-outline-success w-100 p-4 shadow-sm">
                                    <div style="font-size: 2em; margin-bottom: 10px;">👥</div>
                                    <strong class="fs-5">Post Assignment</strong>
                                </a>
                            </div>
                            <div class="col-md-6 mb-2">
                                <a href="/ta/post_announcment" class="btn btn-outline-success w-100 p-4 shadow-sm">
                                    <div style="font-size: 2em; margin-bottom: 10px;">👥</div>
                                    <strong class="fs-5">Post Announcment</strong>
                                </a>
                            </div>
                        </div>
                            {% else %}
                            <tr>
                                <td colspan="3" class="text-center py-4 text-muted">No courses assigned to you yet.</td>
                            </tr>
                            {% endif %}
                        </thead>
                    </table>
                </div>
        </div>
    </div>
</body>
</html>