<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% include 'admin/admin-nav-bar.html' %}
    <h1 style="text-align: center;">Add a New Person</h1>
    <div style="display: flex;justify-content: center;">
        <div id="person-container">
            <form action="/admin/addperson" method="post">
                <label for="name">Name</label>
                <input type="text" id="name" name="name">
                <br><br>
                <label for="role">Role</label>
                <select id="role" name="role">
                    <option value="role">Select Role</option>
                    {% for role_option in ['Student', 'Instructor', 'TA', 'Admin'] %}
                        <option value="{{ role_option }}">{{ role_option }}</option>
                    {% endfor %}
                </select>
                <br><br>
                <!-- Add these fields in the form -->
                <label for="email">Email</label>
                <input type="email" id="email" name="email">
                <br><br>
                <label for="password">Password</label>
                <input type="password" id="password" name="password">
                <br><br>
                <input type="submit" value="Add" id="add-btn">
            </form>

        </div>
    </div>
</body>
</html>