<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="admin-nav-stylesheet.css">
</head>
<body>
     <nav class="navbar">
        <div class="nav-container">
            <a href="dashboard.html" class="logo">Welcome Admin</a>
            <ul class="nav-links">
                <li style="position: relative; top: 10px;height: min-content;"><a href="dashboard.html">Dashboard</a></li>
                <li><a href="searchcourse.html">Find a Course</a></li>
                <li><a href="searchpeople.html">Find a Person</a></li>
                <li><a href="addcourse.html">Add a Course</a></li>
                <li><a href="addpearson.html">Add a Person</a></li>
            </ul>
        </div>
    </nav>
</body>
</html>