<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="admin-nav-stylesheet.css">
</head>
<body>
     <nav class="navbar">
        <div class="nav-container">
            <a href="dashboard.html" class="logo">Welcome Admin</a>
            <ul class="nav-links">
                <li id="dashboard"><a href="/admin/dashboard">Dashboard</a></li>
                <li><a href="/admin/searchcourse">Find a Course</a></li>
                <li><a href="/admin/searchperson">Find a Person</a></li>
                <li><a href="/admin/addcourse">Add a Course</a></li>
                <li><a href="/admin/addperson">Add a Person</a></li>
            </ul>
        </div>
    </nav>
</body>
</html>