<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1 style="text-align: center;">Course Name - code</h1>
    <div style="display: flex;justify-content: center;">
        <div id="person-container">
            <form action="/admin/editcourse/{{ course.id }}" method="post">
                <label for="name">Change Name</label>
                <input type="text" id="name" name="name">
                <br><br>
                <label for="code">Change Code</label>
                <input type="number" id="code" name="code">
                <br><br>
                <label for="Instructor">Change Instructor</label>
                <input type="text" id="Instructor" name="Instructor">
                <br><br>
                <label for="TA">Change TA</label>
                <input type="text" id="TA" name="TA">
                <br><br>
                <label for="credits">Change Credit</label>
                <input type="number" id="credits" name="credits">
                <br><br>
                <label for="seats">Change Seat Numbers</label>
                <input type="number" id="seats" name="seats">
                <br><br>
                <input type="submit" value="Update" id="update-btn">
            </form>
        </div>
    </div>
</body>
</html>