<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% include 'admin/admin-nav-bar.html' %}
    {%if person %}
    <h1 style="text-align: center;">{{person.name}} - {{person.id}}</h1>
    <div style="display: flex;justify-content: center;">
        <div id="person-container-edit">
            <form action="/admin/editperson/{{ person.id }}" method="post">
                <label for="name">Change Name</label>
                <input type="text" id="name" name="name">
                <br><br>
                <select id="role" name="role">
                    <option value="" disabled selected>Change Role</option>
                    {% for role_option in ['Student', 'Instructor', 'TA', 'Admin'] %}
                        <option value="{{ role_option }}">{{ role_option }}</option>
                    {% endfor %}
                </select>
                <label for="id">Change ID:</label>
                <input type="number" id="ID" name="ID">
                <br><br>
                <input type="submit" value="Update" id="update-btn">
            </form>
        </div>
    </div>
    {%endif%}
</body>
</html>