<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Course</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1 style="text-align: center;">Search Courses</h1>
    <div>
        <div id="search-bar">
                <input type="text" id="course-search-input" placeholder="Search for a course...">
            <button id="course-search-button">Search</button>
        </div>
        <div id="course-container">
            <div id="top-info">
                <h2>Course Code- Course Name</h2>
            <p>Description Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam quas necessitatibus perferendis nihil saepe nostrum!</p>
            <p>instructor name</p>
            </div>
            <div id="bottom-info">
                <p>seats left: 20</p>
                <p>credits: 7</p>
                <a href="viewcourse.html">
                    <button id="view-btn">View</button>
                </a>
            </div>
        </div>
    </div>
</body>
</html>