<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search People</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    {% include 'admin-nav-bar.html' %}
    <h1 style="text-align: center;">Search People</h1>
    <div>
        <div id="search-bar">
                <input type="text" id="course-search-input" placeholder="Search for a person..." value="{{ search_query }}">
            <button id="course-search-button">Search</button>
            {%if search_query%}
                <a href="/admin/searchpeople">
                    <button id="clear-search-button">Clear Search</button>
                </a>
            {%endif%}
        </div>
        <div style="align-items: center; display: flex; flex-direction: column;">
            <div id="person-container">
                {%for person in people %}
                    <div id="top-info">
                        <h2>{{person.role}} Name: {{person.name}}</h2>
                        <p>ID: {{person.id}}</p>
                    </div>
                    <div id="bottom-info">
                        <a href="/admin/editperson/{{person.id}}">
                            <button id="edit-btn">Edit</button>
                        </a>
                    </div>
                {%endfor%}
            </div>
        </div>
    </div>
</body>
</html>