<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search People</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1 style="text-align: center;">Search People</h1>
    <div>
        <div id="search-bar">
                <input type="text" id="course-search-input" placeholder="Search for a person...">
            <button id="course-search-button">Search</button>
        </div>
        <div style="align-items: center; display: flex; flex-direction: column;">
            <div id="person-container">
                <div id="top-info">
                    <h2>Student Name</h2>
                <p>Role</p>
                <p>ID</p>
                </div>
                <div id="bottom-info">
                    <a href="editperson.html">
                        <button id="edit-btn">Edit</button>
                    </a>
                </div>
            </div>
            <div id="person-container">
                <div id="top-info">
                    <h2>Student Name</h2>
                <p>Role</p>
                <p>ID</p>
                </div>
                <div id="bottom-info">
                    <a href="editperson.html">
                        <button id="edit-btn">Edit</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>