.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: burlywood;
    padding: 15px 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    color: brown;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    color: brown;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}
.nav-links li {
    padding: 8px 12px;
    transition: box-shadow 0.3s ease, border-radius 0.3s ease;
}
@media (max-width: 700px){
    #dashboard{
    position: relative; 
    top: 10px;
    height: min-content;
}
}
.nav-links li:hover {
    color: #5c2d0b;
    box-shadow: 0  0 8px #5c2d0b;
    border-radius: 10px;
}
body {
    margin: 0;
    padding-top: 70px;
    font-family: Arial, sans-serif;
}